<div class="box">
    <div class="box-header">
        <h3 class="box-title">Channel: {{channel.name}}</h3>
    </div>
    <div class="box-body">
        <div *ngIf="messages.length == 0" class="row">
            <div class="col-xs-12">There are no messages. Why not start?</div>
        </div>
        <div *ngIf="messages.length == 0" class="row">
            <div class="col-xs-12">
                <div class="direct-chat-msg">
                    <div class="direct-chat-info clearfix">
                        <span class="direct-chat-name pull-left">The user</span>
                        <span class="direct-chat-timestamp pull-right">Create Date</span>
                    </div>
                    <!-- /.direct-chat-info -->
                    <div class="direct-chat-text">
                        This is a test
                    </div>
                    <!-- /.direct-chat-text -->
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <form action="#" method="post">
            <div class="input-group">
                <input type="text" name="message" placeholder="Type Message ..." class="form-control">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-warning btn-flat">Send</button>
                </span>
            </div>
        </form>
    </div>
</div>
