<!--The content below is only a placeholder and can be replaced.-->
<div class="wrapper">
    <!-- Full Width Column -->
    <div class="content-wrapper">
        <div class="container">
            <router-outlet></router-outlet>
            <!-- /.content -->
        </div>
        <!-- /.container -->
    </div>

    <!-- /.content-wrapper -->
    <footer class="main-footer">
        <div class="container">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.0.0
            </div>
            <strong>Copyright &copy; 2018 Charles Galvin.</strong> All rights
            reserved.
        </div>
        <!-- /.container -->
    </footer>
</div>
