<div class="box">
  <div class="box-header">
    <h3 class="box-title">Edit User</h3>
  </div>
  <div class="box-body">
    <app-userform (submitForm)="submitUser($event)" [user]="user"></app-userform>
  </div>
</div>