<form [formGroup]="userForm" (submit)="successForm($event)">
  <div class="form-group">
    <label>Email</label>
    <input type="text" class="form-control" formControlName="email" placeholder="Email Address" />
  </div>
  <div class="form-group">
    <label>First Name</label>
    <input type="text" class="form-control" formControlName="firstName" placeholder="First Name" />
  </div>
  <div class="form-group">
    <label>Last Name</label>
    <input type="text" class="form-control" formControlName="lastName" placeholder="Last Name" />
  </div>
  <button class="btn btn-primary" type="submit" [disabled]="!userForm.valid">Save</button>
</form>