
<div class="box">
  <div class="box-header">
    <h3 class="box-title">Group</h3>
  </div>
  <div class="box-body">
    <app-groupform (submitForm)="submitGroup($event)" [group]="group"></app-groupform>
  </div>
</div>