<form [formGroup]="groupForm" (submit)="successForm($event)">
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" formControlName="name" placeholder="Name" />
  </div>
  <div class="form-group">
    <label>Admins</label>
    <select class="form-control" formControlName="admins" placeholder="Admins" multiple>
        <option *ngFor="let admin of users" [value]="admin.id">{{admin.firstName}}</option>
    </select>
  </div>
  <div class="form-group">
    <label>Users</label>
    <select class="form-control" formControlName="users" placeholder="Users" multiple>
      <option *ngFor="let user of users" [value]="user.id">{{user.firstName}}</option>
    </select>
  </div>
  <div class="form-group">
    <label>Channels</label>
    <input type="text" class="form-control" formControlName="channels" placeholder="Channels" />
  </div>
  <button class="btn btn-primary" type="submit" [disabled]="!groupForm.valid">Save</button>
</form>