
<div class="box">
  <div class="box-header">
    <h3 class="box-title">Groups</h3>
  </div>
  <div class="box-body">
    <button routerLink="/groups/create" class="btn btn-primary">Create New Group</button>
    <br />
    <table class="table table-bordered">
      <thead>
      <tr class="row">
        <th class="col-xs-3">Name</th>
        <th class="col-xs-3">Users</th>
        <th class="col-xs-3">Admins</th>
        <th class="col-xs-3">Actions</th>
      </tr>
      </thead>
      <tbody *ngIf="groups.length > 0">
      <tr *ngFor="let g of groups" class="row">
        <td class="col-xs-3">{{g.name}}</td>
        <td class="col-xs-3">{{g.users.length}}</td>
        <td class="col-xs-3">{{g.admins.length}}</td>
        <td class="col-xs-3">
          <!--<i routerLink="/group/users/{{g.id}}" class="fa fa-users" *ngIf="g.admins"></i>-->
          <a routerLink="/channels" [queryParams]="{groupId: g.id}"><i class="fa fa-television"></i></a>
          <a routerLink="/groups/edit/{{g.id}}" *ngIf="checkGroupPerms(g)"><i class="fa fa-pencil"></i></a>
          <a (click)="deleteGroup(g.id)" *ngIf="checkGroupPerms(g)"><i class="fa fa-trash"></i></a>
        </td>
      </tr>
      </tbody>
      <tbody *ngIf="groups.length == 0">
        <tr>
          <td class="col-xs-12">
            <span>There are no groups</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>