<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Dashboard
  </h1>
  <ol class="breadcrumb">
    <li><a href="/dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">

  <div class="box box-default" *ngFor="let group of groups">
    <div class="box-header with-border">
      <h3 class="box-title">{{group.name}}</h3>
    </div>
    <div class="box-body">
      <div class="callout callout-info" >
        <h4>First Channel</h4>

        <p>Should have all channels here.</p>
      </div>
    </div>
    <!-- /.box-body -->
  </div>
  <!-- /.box -->
</section>